Repository ThreeDRadio/threedradio-app: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-app, build-api

.circleci/config.yml:

# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      # The default filter runs on all branches except master
      # And compares changes with develop.
      # Perfect for Pull Requests and merges to master
      - path-filtering/filter:
          mapping: |
            app/.* build-app true
            ondemand-api/.* build-api true
          # Optional, defaults to main:
          base-revision: origin/master

ci: fix typo
  .circleci/continue_config.yml
Due: none

api: readme
  ondemand-api/README.md
Due: build-api

api: add mock providers to have tests boot
  ondemand-api/package.json
  ondemand-api/src/shows/shows.controller.spec.ts
  ondemand-api/src/shows/shows.service.spec.ts
  ondemand-api/src/shows/shows.service.ts
Due: build-api

Exclude history items with invalid dates
  app/lib/store/history/history_selectors.dart
Due: build-app

Version bump to 2.2.2
  app/pubspec.yaml
Due: build-app

Update flutter deps
  app/ios/Podfile.lock
  app/pubspec.lock
  app/pubspec.yaml
  ondemand-api/src/shows/shows.controller.ts
Due: build-app, build-api

Handle wordpress pagination when fetching shows
  app/lib/services/wp_schedule_api.dart
Due: build-app

Version bump to 2.2.3
  app/pubspec.yaml
Due: build-app

Android: bump min sdk to 19 (thanks webview)
  app/android/app/build.gradle
Due: build-app

Add pull to refresh to home screen
  app/lib/screens/all_in_one_tab.dart
  app/lib/screens/home_screen.dart
  app/lib/store/app_selectors.dart
  app/lib/store/on_demand_programs/on_demand_epics.dart
  app/lib/store/schedules/schedules_epics.dart
  app/lib/store/shows/shows_epics.dart
Due: build-app

Now Playing widget handles fortnightly shows
  app/lib/store/schedules/schedules_selectors.dart
Due: build-app

Add support for fortnightly shows
  app/lib/services/wp_schedule_api.dart
  app/lib/store/on_demand_programs/on_demand_selectors.dart
  app/pubspec.yaml
Due: build-app

Remove stray print
  app/lib/store/on_demand_programs/on_demand_selectors.dart
Due: build-app

API: Switch to DigitalOcean spaces
  ondemand-api/src/shows/shows.module.ts
  ondemand-api/src/shows/shows.service.ts
Due: build-api

Fix calculation of week number
  app/lib/store/schedules/schedules_selectors.dart
Due: build-app

Target Android 30
  app/android/app/build.gradle
Due: build-app

Version bump to 2.3.1
  app/pubspec.yaml
Due: build-app

#42 Filter on demand episodes for fortnightly shows
  app/lib/screens/show_detail_screen.dart
  app/lib/store/on_demand_programs/on_demand_selectors.dart
  app/lib/store/schedules/schedules_selectors.dart
  app/pubspec.yaml
Due: build-app

Switch from jcenter to mavenCentral
  app/android/build.gradle
Due: build-app

Use a working fork of audio_service
  app/pubspec.lock
  app/pubspec.yaml
Due: build-app

Update just_audio
  app/pubspec.lock
  app/pubspec.yaml
Due: build-app

Overide audio_session version
  app/pubspec.lock
  app/pubspec.yaml
Due: build-app

Update to latest audio_service
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/kotlin/com/threedradio/player/MainActivity.kt
  app/android/build.gradle
  app/ios/Gemfile.lock
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/lib/audio/audio_start_params.dart
  app/lib/audio/background_task.dart
  app/lib/main.dart
  app/lib/screens/all_in_one_tab.dart
  app/lib/screens/home_screen.dart
  app/lib/screens/now_playing_screen.dart
  app/lib/store/app_epics.dart
  app/lib/store/audio/audio_actions.dart
  app/lib/store/audio/audio_epics.dart
  app/lib/store/audio/audio_state.dart
  app/lib/store/history/history_epics.dart
  app/lib/store/on_demand_episodes/on_demand_episodes_epics.dart
  app/lib/store/on_demand_programs/on_demand_selectors.dart
  app/lib/widgets/now_playing_bar.dart
  app/lib/widgets/show_listing.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: build-app

Update flutter version
  .circleci/continue_config.yml
Due: none

Build app when circle config changes
  .circleci/config.yml
Due: none

Fix flutter version
  .circleci/continue_config.yml
Due: none

Fix path to MacOS flutter distribution
  .circleci/continue_config.yml
Due: none

Use Android SDK 31
  app/android/app/build.gradle
Due: build-app

Update gradle version
  app/android/build.gradle
Due: build-app

Update kotlin version
  app/android/build.gradle
Due: build-app

Use latest xcode
  .circleci/continue_config.yml
Due: none

Gradle config
  app/android/build.gradle
Due: build-app

Use gradle 6.5
  app/android/gradle/wrapper/gradle-wrapper.properties
Due: build-app

Update for Android 12
  app/android/app/src/main/AndroidManifest.xml
Due: build-app

Target android 30
  app/android/app/build.gradle
Due: build-app

Handle null show IDs in schedules, for some reason
  app/lib/store/on_demand_programs/on_demand_selectors.dart
Due: build-app

Correctly display fortnightly show in on demand playing states
  app/lib/screens/all_in_one_tab.dart
  app/lib/screens/show_detail_screen.dart
  app/lib/store/audio/audio_actions.dart
  app/lib/store/audio/audio_epics.dart
Due: build-app

Fix initialisation of Android service
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/lib/audio/background_task.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: build-app

Update main.dart
  app/lib/main.dart
Due: build-app

Update flutter version, android target
  .circleci/continue_config.yml
  app/android/app/build.gradle
  app/lib/main.dart
  app/lib/screens/all_in_one_tab.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: build-app
